/* NOTE!!! Add comments at the end of each line of code you add or change,
indicate why you made the addition/change and/or the specific accessibility
 issue you are trying to address */ 

body {
    font-family: Arial, sans-serif;
    color: black; /*fixed text contrast*/
    background-color: #ccc;
	border: solid 5px;
	margin: 100px;
}

header {
	text-align: center;
	background-color: #333;
	color: white;
	padding: 10px 0;
}

li a {
    color: #0AFABA;
}
h1 {
    font-size: 5em; /*Increased text size*/
}

a {
    color: blue; /*fixed link contrast*/
}

a:hover {
    color:orangered; /* Fixed contrast on hover */
}

form {
    color: #000;
}

input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
}

button {
    cursor: pointer;
    font-size: 2em; /* fixed font size */
}

/* Missing focus styles for interactive elements */
a:focus, button:focus, input:focus { /*Added focus styles*/
    color:#000;
    background-color: #eaf988;
}
