/* NOTE!!! Add comments at the end of each line of code you add or change,
 indicate why you made the addition/change and/or the specific accessibility
 issue you are trying to address */ 

body {
    font-family: Arial, sans-serif;
    color: #000000; /* Fixed contrast */
    background-color: #ecfdff;
	border: solid 5px;
	margin: 100px;
    position: center;
}

header {
	text-align: center;
	background-color: #cfcfcf;
	color: white;
	padding: 10px 0;
}

h1 {
    font-size: 5em; /* Enlarged font size for headings */
}

a {
    color: #0026ff; /* Fixed contrast */
}

a:hover {
    color: #000000; /* Fixed contrast on hover */
}

form {
    color: #000;
}

input[type="submit"] {
    background-color: rgb(0, 0, 0); /* Increases contrast */
    color: white;
    border: none;
}

button {
    cursor: pointer;
    font-size: 1.2em; /* Fixed font size */
}

/* Missing focus styles for interactive elements */
a:focus, button:focus, input:focus {
    background: #9b9fff;
    color: rgb(0, 0, 0);
}
